#app {
  width: 100%;
}
#app .header {
  display: flex;
  top: 0;
  height: 10%;
  border-bottom: 1px solid #f00;
}
#app .header .logo {
  width: 10%;
  background-color: #fff;
}
#app .header .nav-sub {
  width: 70%;
  background-color: #008000;
}
#app .header .nav-sub ul {
  display: flex;
  height: 100%;
}
#app .header .nav-sub ul li {
  height: 100%;
  background-color: #dd3e3e;
}
#app .header .user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  background-color: #00f;
}
#app .main {
  height: 75%;
}
#app .main .filter {
  height: 20%;
  background-color: #00f5ff;
}
#app .main .content {
  height: 80%;
  background-color: #808080;
}
#app .footer {
  display: flex;
  justify-content: center;
  bottom: 0;
  height: 15%;
  background-color: #6756ea;
}
#app .footer .nav-main {
  width: 80%;
  height: 100%;
  background-color: #f1c85f;
}
#app .footer .nav-main ul {
  display: flex;
  justify-content: center;
  height: 100%;
}
#app .footer .nav-main ul li {
  width: 150px;
  height: 100%;
  line-height: 100%;
  background-color: #3faa53;
}
