#app
    width: 100%
    .header
        display: flex
        top: 0
        height: 10%
        border-bottom: 1px solid red
        .logo
            width: 10%
            background-color: white
        .nav-sub
            width: 70%
            background-color: green
            ul
                display: flex
                height: 100%
                li
                    height: 100%
                    background-color: #dd3e3e
        .user
            display: flex
            justify-content: flex-end
            align-items: center
            width: 20%
            background-color: blue

    .main
        height: 75%
        .filter
            height: 20%
            background-color: #00F5FF
        .content
            height: 80%
            background-color: gray

    .footer
        display: flex
        justify-content: center
        bottom: 0
        height: 15%
        background-color: #6756ea
        .nav-main
            width: 80%
            height: 100%
            background-color: #f1c85f
            ul
                display: flex
                justify-content: center
                height: 100%
                li
                    width: 150px
                    height: 100%
                    line-height: 100%
                    background-color: #3faa53