#app
    width: 100%
    .header
        top: 0
        height: 10%
        border-bottom: 1px solid red
        .logo
            display: inline-block
            float: left
            width: 10%
            height: 100%
            background-color: white
        .nav-sub
            float: left
            width: 70%
            height: 100%
            background-color: green
        .user
            float: left
            width: 20%
            height: 100%
            background-color: blue

    .main
        height: 75%
        .filter
            height: 20%
            background-color: #00F5FF
        .content
            height: 80%
            background-color: gray

    .footer
        bottom: 0
        height: 15%
        text-align: center
        background-color: #6756ea
        .nav-main
            display: inline-block
            width: 80%
            height: 100%
            text-align: center
            background-color: #f1c85f
