// 主色调
$color = rgb(63, 81, 181)
// 辅色
$sub-color = rgb(255, 255, 255)
// 导航文字颜色
$nav-font-color = #ffffff

// 阴影
$shadow()
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .5)
// 激活状态
$active()
    opacity: 1
// 未激活状态
$blur()
    opacity: .6

body, html
    line-height: 1
    font-weight: 200
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif

.clearfix
    display: inline-block
    &:after
        display: block
        content: '.'
        height: 0
        line-height: 0
        clear: both
        visibility: hidden

.center
    display: flex
    justify-content: center
    align-items: center

.wave
    position: relative
    overflow: hidden
    user-select: none
    cursor: pointer
    .ripple
        position: absolute
        z-index: 999
        border-radius: 100%
        background-color: rgba(255, 255, 255, .3)
        animation: wave .2s ease-in-out

@keyframes wave {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}