.clearfix
    display: inline-block
    &:after
        display: block
        content: '.'
        height: 0
        line-height: 0
        clear: both
        visibility: hidden

.center
    display: flex
    justify-content: center
    align-items: center
