// 主色调
$color = rgb(63, 81, 181)
// 辅色
$sub-color = rgb(255, 255, 255)
// 贝塞尔曲线
$cubic-bezier = cubic-bezier(.4, 0, .2, 1)

// 阴影
$shadow()
    box-shadow:
            0 2px 4px -1px rgba(0,0,0,.2),
            0 4px 5px 0 rgba(0,0,0,.14),
            0 1px 10px 0 rgba(0,0,0,.12)
// 激活状态
$active()
    opacity: 1
// 未激活状态
$blur()
    opacity: .6
// 通用transition
$transition()
    transition: all .3s $cubic-bezier
// 默认hover
$hover()
    background-color: rgba(0, 0, 0, .08)
// 默认focus
$focus()
    font-weight: 700

/* 设置底边框 */
border-bottom-setter($width, $color)
    position: relative
    &::after
        display: block
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        border-bottom: $width solid $color
        content: ' '

@keyframes fadein
    from
        opacity 0
    to
        opacity 1

@keyframes wave {
    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

.wave
    position: relative
    overflow: hidden
    user-select: none
    cursor: pointer
    .ripple
        position: absolute
        z-index: 999
        border-radius: 100%
        background-color: $sub-color
        opacity: .2
        animation: wave .3s $cubic-bezier
    &.color
        .ripple
            background-color: $color
            opacity: .2
    &.sub-color
        .ripple
            background-color: $sub-color
            opacity: .2
