@import "../../common/stylus/mixin.styl"

#login
    background-image: url(bg1.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: 100% 100%
    font-family: 'Open Sans', sans-serif
    .login-box
        position: fixed
        display: flex
        flex-direction: column
        align-items: center
        top: 20%
        right: 5%
        padding: 20px 50px
        width: 30%
        height: 50%
        .title
            margin-bottom: 10px
            width: 80%
            height: 50px
            text-align: center
            //color: rgba(0, 0, 139, .8)
            color: #000000
            font-size: 30px
            font-weight: 900
        .user
            background-color: rgba(105, 105, 105, .5)
            border-radius: 15px
            height: 200px
            width: 80%
            div
                padding: 5% 0
                input
                    padding-left: 8%
                    height: 100%
                    width 70%
                    background-color: rgba(105, 105, 105, 0)
                    border-left: 1px solid rgba(255, 255, 255, .5)
                    color: #ffffff
            .account
                height: 32.5%
                border-bottom-setter(1px, rgba(255, 255, 255, .5))
                i
                    padding-right: 15%
                    width: 56px
                    height: 56px
                    background-image: url(user.png)
                    background-position: center
                    background-repeat: no-repeat
            .password
                height: 32.5%
                i
                    padding-right: 15%
                    width: 56px
                    height: 56px
                    background-image: url(password.png)
                    background-position: center
                    background-repeat: no-repeat
        .login-in
            margin-top: 5%
            padding: 10px
            width: 70%
            text-align: center
            background-color: rgba(105, 105, 105, .3)
            border-radius: 5px
            color: #000000
            font-size: 25px
            cursor: pointer
            font-weight: 900