.dock
    position: relative
    height: 100%
    transform-origin: 50% 0
    transform: margin-top
    transition: margin-top .5s ease-in-out
    .up
        position: absolute
        top: -20px
        margin-left: 48%
        width: 4%
        height: 20px
        cursor: pointer
        color: $sub-color
    &::before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        z-index: -1
        transform: scaleY(.85) perspective(100px) rotateX(5deg)
        transform-origin: bottom
        border-radius: 10px
        background-color: $color
    ul
        display: flex
        justify-content: center
        height: 100%
        li
            margin: 0 2%
            color: $nav-font-color
            cursor: pointer
            $blur()
            &.active
                $active()

.tip-enter-active, .tip-leave-active
    transition: all .5s ease-in-out
    color: rgba(192, 192, 192, 0)

.tip-enter, .tip-leave-active
    color: rgba(192, 192, 192, .5)