.DS_Store
out/*
src/main/resources/*
webapp/node_modules/
webapp/dist/
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
.gitignore

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
