.main
    padding: 30px
    background: #ffffff
    border-radius: 7px
    height: 100%
    .table_box
        table
            tr
                display: table-row
                vertical-align: inherit
                border-color: inherit
                th
                    text-align: center
                    padding: 15px 0
                    background: #f4f4f5
                    font-size: 16px
                    color: #040404
                    font-weight: normal
                td
                    padding: 15px 15px;
                    color: #040404;
                    text-align: center;
                    border-bottom: 1px solid #ededee
                    font-size: 12px
                    color: #040404
                    .icon_remove
                        display: inline-block
                        zoom: 1
                        margin: 0 10px
                        width: 30px
                        height: 30px
                        background: url(remove.png) no-repeat center;
    .no_data
        text-align: center
        margin: 100px 0
    .pages
        height: 10%
        margin-top: 25px
        .num
            float: left
            height: 36px
            line-height: 36px
            span
                float: left
                font-size: 16px
                color: #040404
        .stat
            float: right
            span.indexs
                margin-right: 20px
            span
                float: left
                font-size: 16px
                color: #040404
                line-height: 36px
                .pre
                    float: left
                    width: 36px
                    height: 36px
                    background: url(icon_pre.png) no-repeat center
                em
                    float: left
                    margin-left: 5px
                    padding: 0 20px
                    font-size: 16px
                    color: #040404
                    line-height: 34px
                    border: 1px solid #ffffff
                    font-style: normal
                    border-radius: 20px
                    cursor: pointer
                em.active
                    border: 1px solid #57aef4
                    color: #57aef4
                em:hover
                    background: #f6f6f7
                .next
                    float: left
                    width: 36px
                    height: 36px
                    background: url(icon_next.png) no-repeat center
            .text
                float: left
                margin: 0 10px
                text-align: center
                width: 60px
                height: 36px
                line-height: 34px
                border: 1px solid #e5e5e5
                border-radius: 20px
            .enter
                float: left
                margin-left: 20px
                width: 60px
                height: 36px
                line-height: 34px
                border: 1px solid #e5e5e5
                border-radius: 20px
                text-align: center
                font-size: 16px
                color: #040404
            .enter:hover
                border: 1px solid #57aef4
                color: #57aef4