#index
    width: 100%
    .header
        display: flex
        top: 0
        height: 10%
        .logo
            width: 10%
        .nvg
            width: 70%
        .user
            width: 20%

    .main
        height: 90%
        .content
            height: 100%

    .footer
        position: fixed
        bottom: 0
        margin-left: 10%
        width: 80%
        height: 10%