#index {
  width: 100%;
}
#index .header {
  display: flex;
  top: 0;
  height: 10%;
}
#index .header .logo {
  width: 10%;
  background-color: #adff2f;
}
#index .header .nav-sub {
  width: 70%;
  background-color: #122644;
}
#index .header .nav-sub ul {
  display: flex;
  height: 100%;
}
#index .header .nav-sub ul li {
  height: 100%;
  background-color: #122644;
}
#index .header .user {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  background-color: #001937;
}
#index .main {
  height: 90%;
}
#index .main .content {
  height: 100%;
  background-color: #0450d7;
}
#index .footer {
  position: fixed;
  bottom: 0;
  margin-left: 10%;
  width: 80%;
  height: 15%;
}
#index .footer .nav-main {
  width: 100%;
  height: 100%;
  background-color: rgba(192,192,192,0.5);
  border-radius: 10px;
  box-shadow: 0 0 10px #dadada;
}
#index .footer .nav-main ul {
  display: flex;
  justify-content: center;
  height: 100%;
}
#index .footer .nav-main ul li {
  width: 150px;
  height: 100%;
  line-height: 100%;
  background-color: rgba(192,192,192,0.5);
}
