#index {
  width: 100%;
}
#index .header {
  display: flex;
  top: 0;
  height: 8%;
}
#index .header .logo {
  width: 10%;
}
#index .header .nvg {
  width: 70%;
}
#index .header .user {
  width: 20%;
}
#index .main {
  height: 90%;
}
#index .main .content {
  height: 100%;
}
#index .footer {
  position: fixed;
  bottom: 0;
  margin-left: 10%;
  width: 80%;
  height: 8%;
}
