.VForm
    position: relative
    padding: 0 30px
    .feilds
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        width: 100%
        height: 80%
        .feild-cpt, .feild-input
            justify-content: flex-start
            margin: 0 20px
            width: 300px
            height: 50px
            .text
                display: inline-block
                width: 30%
                line-height: 50px
            .cpt, .input
                width: 70%
            .input
                text-align: center
                height: 36px
                border: 1px solid #e5e5e5
                border-radius: 20px
        .feild-text
            justify-content: flex-start
            margin: 0 20px
            width: 300px
            height: 50px
            .text
                display: inline-block
                width: 30%
                line-height: 50px
            textarea
                width: 400px
                height: 200px
                border: 1px solid #e5e5e5
    .operates
        position: absolute
        bottom: 0
        right: 0
        padding: 0 10px 10px 0
        width: 30%
        .operate
            display: inline-block
            float: right
            margin-left: 10px
            width: 60px
            height: 36px
            text-align: center
            border: 1px solid #e5e5e5
            border-radius: 20px
            cursor: pointer
            &:hover
                border: 1px solid #57aef4
                & > a
                    color: #57aef4
            a
                line-height: 36px
                font-size: 16px
                color: #040404