.pop
    position: fixed
    z-index: 997
    left: 0
    top: 0
    overflow: hidden
    width: 100%
    height: 100%
    animation: fadein .5s
    background: rgba(0, 0, 0, 0.5)
    .content
        width: 60%
        height: 60%
        padding: 20px 0
        background-color: $sub-color
    .confirm
        width: 25%
        height: 30%
        padding: 30px
        background-color: $sub-color
        .text
            padding-top: 30px
            width: 100%
            height: 60%
            color: $color
            font-size: 24px
        .btn
            position: relative
            width: 100%
            height: 20%
            .ok
                position: absolute
                top: 0
                left: 0
                padding: 10px
                color: $sub-color
                background-color: $color
            .no
                position: absolute
                margin-left: 80px
                padding: 10px
                color: $sub-color
                background-color: $color
    .alter
        background-color: $sub-color
        .title
            position: relative
            height: 15%
            background-color: $color
            color: $sub-color
            .text
                position: absolute
                top: 50%
                transform: translateY(-50%)
                width: 100%
                font-size: 30px
                text-align: center
            .date
                position: absolute
                bottom: 0
                right: 0
                padding: 5px
                width: auto
                height: 16px
                line-height: 16px
                font-size: 16px
        .text
            padding: 20px
            font-size: 18px
            word-wrap: break-word
            word-break: break-all