.nvg ul {
  display: flex;
  justify-content: center;
  height: 100%;
}
.nvg ul li {
  position: relative;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}
.nvg ul li:hover::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #fff;
  content: '';
}
.nvg ul li .text {
  position: relative;
  display: block;
  z-index: 100;
  text-align: center;
  width: 100%;
  color: #fff;
  background-color: #1a2226;
}
.nvg ul li .sub {
  position: absolute;
  z-index: 50;
  top: 100%;
  width: 100%;
  transform: margin-top;
  transition: margin-top 0.3s ease-in;
}
.nvg ul li .sub ul {
  flex-direction: column;
  background-color: #222d32;
}
.nvg ul li .sub ul li {
  position: relative;
  align-items: flex-start;
  padding-left: 10px;
  height: 40px;
}
.nvg ul li .sub ul li:hover::before {
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 2px solid #fff;
  border-top: none;
  content: '';
}
.nvg ul li .sub ul li a {
  color: #fff;
}
